body{
	background: blue;
	margin: 0;
	padding: 0;
}

p{
	font-size: 2em;
	text-transform: uppercase;
	color: white;
}

/*
.page{
	height: 50%;
	width: 100%;
	overflow-y: hidden;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-y: hidden;
	
}
*/

#one{
	background-color: green;
	height: 50%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-y: hidden;
}
#two{
	background-color: gray;
	height: 50%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 50%;
	overflow-y: hidden;
}